/*h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {

  margin: 0;

  padding: 0;

  border: 0;

  outline: 0;

  font-size: 100%;

  background: transparent;
}*/

body {
  background-color: #c4d5e0;
}

.noselect {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;  /* Firefox */
  -ms-user-select: none;  /* Internet Explorer/Edge */
  user-select: none;  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-touch-callout: none;  /* iOS Safari */
  -khtml-user-select: none;  /* Konqueror HTML */
}

.carousell {
  width: 75%;
  margin: 0 auto;
  /*padding: 0px 10px;*/
}

#image-container {
  width: inherit;
  /*margin: 0 10px;*/
  overflow: hidden;
  /*padding: 0px 10px;*/
}

.carousellButton {
  width: 10%;

  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  background-color: rgba(29, 178, 224, 0.75);
  font-size: 16px;
}
/*UI REALLY NEEDS WORK!*/

/*.carousellButton {
    position: absolute;
    /*top: 0;*/
    /*bottom: 0;*/
    /*
    float: left;
    width: 15%;
    font-size: 20px;
    color: #fff;
    border: 0;
    text-align: center;
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousellButton.right {
    float: right;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}*/

/*.carousel-caption{*/
/*}*/
.carousellButton:hover {
  color: white;
  background-color: #18a0c9;
}
