/*h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {

  margin: 0;

  padding: 0;

  border: 0;

  outline: 0;

  font-size: 100%;

  background: transparent;
}*/

body {
  overflow:auto;

  background-color: #c4d5e0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.carousell #image-container{
    width: 50%;
    margin: auto;
    padding: 10px;

}

.button {
    width: 10%;

    margin: 4px 2px;
    padding: 15px 32px;

    cursor: pointer;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;

    color: white;
    border: none;
    background-color: #1db2e0;

    font-size: 16px;

}

#next {
  text-align: center;
}

.button:hover {
    color: white;
    background-color: #18a0c9;
}
