body {
  background-color: #f4f4f4;
}

h2 {
  letter-spacing: 2px;
}

p {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  letter-spacing: 2px;
  font: 1em/2em Helvetica, sans-serif;
}

div {
  margin: auto;
  text-align: center;
}
/* Style navbar and header */
header {
  width: 100%;
  margin-bottom: 20px;
}

/* content body */
.content {
  width: 100%;
  margin: 70px auto auto;
}
/* Image container positioning */
.photocarousel-container {
  background-color: rgb(222, 222, 222);
  margin-bottom: 50px;
}

.photocarousel {
  position: relative;
  right: 0;
  left: 0;
  clear: both;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* use content box to consider the content for sizing only */
  padding: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

/* Cat slide formatting */

.duplicate {
  position: relative;
  display: block;
  visibility: hidden;
}

.photocarousel-div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  min-height: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.duplicate,
.photocarousel,
.photocarousel-div {
  width: 300px;
  height: 200px;
}

.activeSlide {
  left: 0;
}

.photocarousel-dot-container {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  a, button {
    padding: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 5px;
    &:focus {
      outline: none;
    }
  }
}

/* Button formatting */
.photocarousel-button {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 35%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0);

  &.right {
    right: 0;
    padding-right: 10px;
    text-align: right;
  }

  &.left {
    left: 0;
    padding-left: 10px;
    text-align: left;
  }
  &:focus {
    outline: none;
  }

}

.fetch-image {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  text-align: left;
}
/*Animation*/
@keyframes hidenext {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}
@keyframes hideprevious {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}
@keyframes shownext {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}
@keyframes showprevious {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (potrait and small screen)*/
@media (min-width: 350px) {
  .content,
  .pphotocarousel-container {
    width: 330px;
  }

  .duplicate,
  .photocarousel,
  .photocarousel-div {
    width: 330px;
    height: 220px;
  }
}
/* Small devices (potrait and small screen)*/
@media (min-width: 450px) {
  .content,
  .photocarousel-container {
    width: 430px;
  }

  .duplicate,
  .photocarousel,
  .photocarousel-div {
    width: 430px;
    height: 286px;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .content,
  .photocarousel-container {
    width: 550px;
  }

  .duplicate,
  .photocarousel,
  .photocarousel-div {
    width: 550px;
    height: 366px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content,
  .photocarousel-container {
    width: 640px;
  }

  .duplicate,
  .photocarousel,
  .photocarousel-div {
    width: 640px;
    height: 426px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content,
  .photocarousel-container {
    width: 700px;
  }

  .duplicate,
  .photocarousel,
  .photocarousel-div {
    width: 700px;
    height: 466px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

.noselect {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
}
/*Added loading gif*/

.wait {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5%;
  margin: 0;
}
